{% extends "layouts/base.html" %} {% block title %} Home {% endblock %} {% block
content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header mb-5"></div>
        <div class="card-body">
          <div class="typography-line text-center">
            <h1>Shorten your URLs in the simplest way!</h1>
          </div>

          <form method="POST" action="{{ url_for('home_blueprint.shorten_url') }}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group py-5">
                  <input
                    type="text"
                    name="long_url"
                    class="form-control"
                    placeholder="Enter your URL here"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer center">
            <button type="submit" class="btn btn-fill btn-info">
              Shorten URL
            </button>
          </div>
          </form>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
